.App {
  overflow: hidden;
  width: 100vw;
}

.steak {
  position: relative;
  background-image: url("./fish.jpg");
  background-size: 100% auto;
}

.steak:before {
  display: block;
  content: "";
  padding-top: 66%;
}

.steak canvas {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: TranslateX(-50%);
}
